//_footer.scss

footer{
  display:block;
  position:relative;
  bottom:0;
  height:2em;
  text-align:center;
  @include large-only-device{
    background-color:$nav-bar-lg-bg-color;

  }
  @include med-only-device{

    background-color:$nav-bar-med-bg-color;
  }

  @include small-device{
    display:none;
  }
  background-color:$footer-bg-color;
  color:$white;
  font-size:1em;
  p{
    display:inline-block;
    margin-top:7px;
  }
}

