//_topBars.scss

.off-menu__solidTopBar{overflow:hidden;
  @include small-device{
    @include h-w(3.5em,100vw);
    @include translate3d(0,0,0);
    @include transition-element(transform,1s);
    padding:0;margin:0;
    display:block;
    position:absolute;
    background-color:blue;
    z-index:10;

  }
  display:none;
  .off-menu__name{
    @include small-device{
      width:100vw;
      @include position-top(absolute,0.9em);
      @include translate3d(-16em,0,0);
      @include transition-element(transform,1s);
      background-color:blue;
      z-index:-10;
      p{
        margin-top:0;
        color:$white;
        font-size:1.5em;
      }
    }
  }
}

.off-menu__hamburger{
  @include small-device{
    @include h-w(2em,2em);
    @include translate3d(2em,0,0);
    @include transition-element(transform,1s);
    display:block;
    margin-top:1em;
  }
  display:none;
  .off-menu__bars{
    @include small-device{
      @include h-w(2em,2em);
      display:block;    
    }
    span{
      @include small-device{
        @include h-w(5px,30px);
        position:relative;
        display: block;
        margin-bottom:5px;
        background-color:$black; 
        @include transition-all(0.1s);
      }
    }
  }
  &:hover{
    cursor:pointer;
  }
}


#off-menu{
  @include small-device{
    display:none;
  }
  display:none;
}

#off-menu:checked ~ .off-menu__solidTopBar > .off-menu__hamburger{
  @include small-device{
    @include translate3d(15em,0,0);
    @include transition-element(transform,1s);
  }
  span:nth-of-type(1){
    @include rotate-translate(45deg,8px,6px);
    @include transition-element(transform,0.5s);
  }
  span:nth-of-type(2){
    display:none;
  }
  span:nth-of-type(3){
    @include rotate(-45deg);
    @include transition-element(transform,0.5s);
  }
}

#off-menu:checked ~ .off-menu__solidTopBar > .off-menu__name,
#off-menu:checked ~ #fullCanvas > #sideNavBar{
  @include small-device{
    @include translate3d(4em,0,0);
    @include transition-element(transform,1s);
    overflow:scroll;
  }
}

#off-menu:checked ~ .off-menu__solidTopBar > .off-menu__name{
  @include small-device{
    @include translate3d(1em,0,0);
    @include transition-element(transform,1s);
  }
}

#off-menu:checked ~ #fullCanvas > #allContent,
#off-menu:checked ~ #fullCanvas > .fullCanvas__mask{
  @include small-device{
    @include translate3d(14em,0,0);
    @include transition-element(transform,1s);
  }
}

#off-menu:checked ~ #fullCanvas > #allContent{
  @include small-device{
    overflow-y:hidden;
  }
}

#off-menu:checked ~ #fullCanvas > .fullCanvas__mask{
  @include small-device{
    opacity:1;
    z-index:1;
  }
}

input[name="navRadio"]{
  @include small-device{
    display:none;
  }
}


#fullCanvas > #sideNavBar{
  @include small-device{
    position:fixed;  
    @include h-w(100%,14em);
    margin-left:-4em;
    @include translate3d(-11em,0,0);
    @inlude transition-element(transform,1s);

    display:inline-block;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index:1;
  }

}

#sideNavbar li:hover{
  @include small-device{
    cursor:pointer;
  }
}

.sideNavBar__sideDetails, .sideNavBar__projectDetails{
  @include small-device{
    @include transition-element(max-height,1s);
    position:static;
    max-height:0;
    width:9.5em;
    padding-top:0;
    margin-top:0em;
    margin-left:-2em;
    overflow:hidden;
  }
}

.sideNavBar__sideDetails:nth-of-type(1){
  margin-left:-1em;
}
.sideNavBar__sideDetails:nth-of-type(3){
   position:relative;
    margin-left:3em;
    ul{
      margin:0;
      padding:0;
    }
}

.sideNavBar__sideProjList{
  @include small-device{
    @include translate3d(0,0,0);
    @include transition-element(transform,1s);
    overflow-y:scroll;
    margin-left:-0.5em;
    width:14em;
    position:relative;
    top:0;
    left:-2em;
  }
  .sideNavBar__projectDetails{
    @include small-device{
      height:12em;
      margin-top:-1.9em;
      margin-left:0.5em;
    }
  }

  li {
    @include small-device{
      position:relative;
      left:0px;
      border:2px solid blue;
      width:8.1em;
      font-size:1em;
      padding:0.5em 0;
      line-height:1em;
      margin-bottom:2em; 
    }
  }
}



@for $i from 1 through 4 {
  #sideNavBar input:nth-of-type(#{$i}):checked ~ .sideNavBar__sideDetails:nth-of-type(#{$i}){
    @include small-device{
      max-height:105vh;
    }
  }
}

@for $j from 1 through 7 {
  .sideNavBar__sideProjList input:nth-of-type(#{$j}):checked ~ .sideNavBar__projectDetails:nth-of-type(#{$j}){
    @include small-device{
      max-height:105vh;
    }
  }
}

#sideNavBar > ul{
  @include small-device{
    position:relative;
    margin-top:2.5em;
    height:100%;
    overflow:scroll;
  }
}

#sideNavBar > ul > input:checked + li{
  @include small-device{
    background-color:$aqua;
  }
}


#sideNavBar ul li{
  @include small-device{
    list-style:none;
    margin-left:-2.5em;
    padding-left:1em;
  }
  &:hover{
    cursor:pointer;
  }
}

#sideNavBar > ul > li label{
  @include small-device{
    position:relative;
    padding:0.5em 2em;
    top:0em;
    left:-1.5em;
    color:black;
    font-size:2em;
    line-height:2em;
    text-align:right;
  }
  &:hover{
    cursor:pointer;
  }
}

#sideNavBar ul > input{
  @include small-device{
    display:none;
  }
}

#sideNavBar ul {
  div:nth-of-type(3){
    @include small-device{
      width:9em;
      left:-4em;
    }
    li{
      @include small-device{
        margin-left:0em;
      }
    }
  }
  div:nth-of-type(4) img{
    @include small-device{
      position:relative;
      @include h-w(1.5em, 1.5em);
      left:-20px;
    }
  }
  div:nth-of-type(2) li{
    @include small-device{
      margin-left:0;
    }
  }
}

.sideNavBar__sideProjList > input:checked + li{
  @include small-device{
    background-color:$skyblue;
  }
}


#scrollSideBar{border:2px solid blue;
  position:fixed;
  width:150px;
  height:350px;
  top:200px;
  left:-160px;
  background-color:$nav-bar-bg-color;

  @include med-and-large-device{
    background-color:$nav-bar-lg-bg-color;
/*    left:-80px; **************************************************************/
  }
  @include med-only-device{
    background-color:$nav-bar-med-bg-color;
  }
  @include small-device{
    display:none;
  }
  input{
    display:none;
  }
  ul{

    a{
      text-decoration:none;
      color:white;
      font-size:1em;
    }

    li{
      color:white;
      list-style-type:none;
      margin-top:30px;
      padding-left:30px;
      margin-left:-60px;
      height:50px;
      label{
        @include med-and-large-device{
        float:right;
        padding-right:10px;
        padding-left:5px;
        font-size:0.7em;        
        }
      }
      label:hover{
        cursor:pointer;
      }
    }

    li:before{
      content:"\f192";
      font-family:"FontAwesome";
      font-size:30px;
      margin-right:5px;
    }

  }
  input:checked + li {
    background-color:$nav-label-bg-color;
    color:black;
    font-size:1.5em;
    @include large-only-device{
      background-color:$nav-border-lg-bottom;
    }
    @include med-only-device{
      background-color:$nav-border-med-bottom;
    }
  }
  input:checked + li:before{
    content:"\f13d";
  }
  input:checked + li a{
    color:$black;
  }

}


#topNavBar{
  width:100%;
  height:90px;
  background-color:$nav-bar-bg-color;
  z-index:3;
  position:fixed;
  top:-10px;
  left:0;
  margin-bottom:7px;
  border-bottom:7px solid $nav-label-bg-color;
  @include large-only-device{
    background-color:$nav-bar-lg-bg-color;
    border-bottom-color:$nav-border-lg-bottom;
  }
  @include med-only-device{
    background-color:$nav-bar-med-bg-color;
    border-bottom-color:$nav-border-med-bottom;  
  }
  @include small-device{
    display:none;
  }
 }

 .topAnimation{
   position:absolute;
   animation: topScrollAnimation 1s;


 }

 @keyframes topScrollAnimation {
   0% {top:10px;}
   25% {top: 0;}
   50% {top:-15px;}
   75% {top:-20px;}
   100% {top:-50px;}
 }

#topNavBar__fullName{
    @include med-only-device{
      display:inline;
      width:8em;
      margin-top:-1.5em;
      margin-left:23%;
    
}

}


#topNavbar__fullName{
  font-size:20px;
}


nav#topNavBar ul label {
  width:70px;
  display:inline-block;
  text-align:center;
  padding:5px 20px 20px 20px;
  margin-right:-5px;
  @include large-only-device{
    width:70px;
  }
  @include med-only-device{
    width:40px;
    position:relative;
    top:5px;
  }
  &:hover{
    cursor:pointer;
    color:$black;    
  }
}

nav#topNavBar ul input{
  display:none;
}


nav#topNavBar > p{
  @include top-left-position(33px,20px,absolute);
  width:8em;
  font-size:18px;
  color:$white;
  line-height:1.15;
}

nav#topNavBar > ul {
  white-space:nowrap;
  @include top-left-position(50px,28%,relative);
  @include display-marginLeft(inline,2em);
  @include med-and-large-device{
    display:inline-block;
    left:25%;
    top:2em;
    margin-right:0;
    padding:0;
    width:100%;
  }
  @include med-only-device{
    left:-20px;
  }
}

nav#topNavBar > ul li{
  display:inline-block;
  padding-right:0px;
  color:$white;
  font-size:18px;
  @include large-only-device{
   font-size:17px;
    padding:0;
    margin:0;
  }
  @include med-only-device{
    font-size:12px;
    margin-right:10px;
  }
}


nav#topNavBar input:checked + li > label{
  @include small-device{
    display:none;
  }
  background-color:$nav-label-bg-color;
  color:$black;
  @include large-only-device{
    background-color:$nav-border-lg-bottom;
  }
  @include med-only-device{
    background-color:$nav-border-med-bottom;
  }
}

nav#topNavBar input:checked + li > label > a{
  color:$black;
}

nav#topNavBar a{
  text-decoration:none;
  color:$white;
}