//_modal.scss

.modalMask{
  @include h-w(1000px,100%);
  @include med-and-large-device{
    @include structure-dimension(fixed,0,90px,100vw,150vh);
  }
  position:absolute;
  font-size:80px;
  left:0;
  top:90px;
  text-align: center;
  display:none;
  background-color:rgba(0,0,0,0);
  .modal{
    margin:auto;
    font-size:0.5em;
    margin-top:150px;
    height:400px;
    width:800px;  
    background-color:$nav-bar-bg-color; 
    @include med-and-large-device{
      width:500px;
      background-color:$nav-bar-lg-bg-color;
    }
    @include med-only-device{
      background-color:$nav-bar-med-bg-color;
    } 
  p{
    position:relative;
    top:50px;
    color:$white;
    @include med-and-large-device{
      position:relative;
      display:inline;
      width:100%;
    }
  }
  }
}

#modalInput1, #modalInput2{
  display:none;
}


#modalInput1:checked + .modalMask{
  display:block;
  background-color:rgba(0,0,0,0.9);
  transition:background-color 1s;
}

#modalClose{
  @include med-and-large-device{
    left:0;
    cursor: pointer;
    font-size:1em;
  }
  @include med-only-device{
    left:-1em;
  }
  position:relative;
  left:0px;
  cursor: pointer;
  top:200px;
  .button{
    width:150px; 
    margin:auto;
    border:1px solid black;
    font-size:0.7em;
    border-radius:5%;
    padding:5px;
    background:linear-gradient($grey,$white);
    box-shadow:3px 3px 4px 2px #000;
    color:$nav-bar-bg-color;
    @include large-only-device{
      color:$nav-bar-lg-bg-color;
    }
    @include med-only-device{
      color:$nav-bar-med-bg-color;
    }
  }
}