//_search.scss

.topNavBar__searchBlock{
  display:inline-block;
  width:250px;
  margin:0 20px;
  float:right;
  @include large-only-device{
    position:relative;
    display:inline-block;
    width:10px;
    top:15px;
  }
  @include med-only-device{
    position:relative;
    top:-70px;
    width:120px;
  }
}

#topNavBar__search{
  @include position-top(relative,40px);
  @include h-w(30px,180px);
  display:inline-block;
  left:-20px;
  border:1px none transparent;
  border-bottom:1px solid $white;
  padding-bottom:0;
  background-color:transparent;
  color:$white;
  &:hover{
    cursor:pointer;
  }
  @include med-and-large-device{
    display:none;
  }

  @include small-device{
    display:none;
  }
}

#topNavBar__search:focus{
  outline:none;
}

#topNavBar__search:not(:focus){
  color:transparent;
}

.topNavBar__searchText{
  @include position-top(relative,20px);
  @include transition-element(top,0.5s);
  color:$searchText;
  display:inline-block;
  left:20px;
  font-size:14px;
  padding-bottom:50px;
  &:hover{
    cursor:pointer;
  }  
  @include med-and-large-device{
    display:none;
  }

  @include small-device{
    display:none;
  }
}


#topNavBar__search:focus ~ .topNavBar__searchText{
  color:$search-text-focus;
  top:0px;
  font-size:12px;
  color:$white;
}

#topNavBar__searchIcon{
  @include top-left-position(37px,210px,relative);
  height:30px;
  width:30px;
  margin:0 auto;
  border-width:1px;
  border-style:solid;
  display:inline-block;
  border-color:#ccc;
  &:hover{
    cursor:pointer;
  }
  i{
    margin:auto;
    padding:6px;
    color:#ccc;
  }
  @include large-only-device{
    left:-25px;
    top:-90px;
  }  
  @include med-only-device{
    left:90px;
    top:0px;
  }

}

nav > .topNavBar__searchBlock > #topNavBar__searchIcon:focus ~ .modalMask{
  visibility:visible;
}
