//_skillsSection.scss

/*Skills */

.skills {
  height:1600px;
  @include position-top(relative,250px);
  margin-bottom:0px;
  @include med-and-large-device{
    @include position-top(relative,0);
  }
  h1{
    width:5em;
  }
}


hr#endSkillsLine{
  @include position-top-width(relative,400px,800px);
  @include large-only-device{
    @include position-top-width(relative,400px,400px);
  }
  @include med-only-device{
    @include position-top-width(relative,730px,220px);
    left:-4em;
  }
  @include small-device{
    @include position-top-width(relative,710px,80px);
  }
}


#frontend{
  @include h-w(20px,650px);
  left:-100px;
  @include large-only-device{
    width:500px;
    left:-30px;
  }

  @include med-only-device{
    width:270px;
    left:-25px;
  }

  @include small-device{
    width:200px;
    left:5px;
  }
  position:relative;
  background-color:$frontend-bg-color;
  text-align:left;
  padding-left:1em;
  color:$white;
}

#backend{
  @include position-top-width(relative,-20px,100px);
  @include display-marginLeft(inline-block,500px);
  @include large-only-device{
    width:50px;
    margin-left:485px;
  }
  @include med-only-device{
    width:27px;
    margin-left:245px;
  }
  @include small-device{
    width:20px;
    margin-left:200px;
  }
  height:20px;
  background-color:$backend-bg-color;
  padding-right:1em;
  text-align:right;
  color:$white;
}

.skillBar {
  @include h-w(20px,556px);
  @include position-left(relative,18%);
  @include large-only-device{
    @include h-w(20px,50vw);
    @include position-left(relative,8%);  
    top:-140px;
  }
  @include med-only-device{
    position:relative;
    left:10px;
    @include h-w(20px,240px);
  }
  @include small-device{
    width:230px;
    left:30px;
  }
}

.front{
  @include med-and-large-device{
    @include position-left(relative,-5.3em);
    height:2em;
  }
}



.proficiencyLabels{
  position:absolute;
  top:-255px;
  left:-30px;
  list-style-type:none;
}

.proficiencyLabels li {
  margin-bottom:20px;
}


.js, .html, .react, .jquery, .sass,
.node, .php, .mongo, .ruby, .python,
.writing, .problemSolve, .PM, .research, .publicSpeaking{
  @include position-top(absolute,0px);
  @include rotate(40deg);
}

.js,.node,.writing{
  top:17px;
  left:100px;
 
}
.html,.php,.problemSolve{
  top:20px;
  left:130px;
}

.php{
  top:10px;
}

.react,.mongo,.PM{
  top:15px;
  left:160px;
}

.mongo{
  top:18px;
}

.jquery,.ruby,.research{
  top:12px;
  left:195px;

}

.sass,.python,.publicSpeaking{
  left:225px;
  top:13px;

}

.writing{
  top:40px;
  left:90px;
}

.problemSolve{
  top:30px;
  @include large-only-device{
    left:126px;
  }
}

.PM{
  top:35px;
  left:155px;
  @include large-only-device{
    left:152px;
  }
}

.research{
  top:17px;
  left:190px;
}

.publicSpeaking{
  left:215px;
  top:43px;
  width:130px;
  @include large-only-device{
    left:210px;
  }
}


.technologies{
  position:absolute;
  height:30px;
  width:300px;
  top:-90px;
  @include large-only-device{
    left:70px;
  }
  @include med-only-device{
    left:50px;
  }
  @include small-device{
    left:50px;
  }
}

.back .technologies{
  @include large-only-device{
    top:-90px;
  }
}

.other .technologies{
  @include large-only-device{
    top:-85px;
    left:80px;
  }
  @include med-only-device{
    top:-85px;
    left:60px;
  }
  @include small-device{
    left:75px;
  }
}

/****************************ALL BARS**************************************/

.jsBar,.htmlBar,.reactBar,.jqueryBar,.sassBar{
  @include top-left-position(20px,100px,absolute);
  display:inline-block;
  @include h-w(80px,20px);
}

.graphBars{
  position:absolute;
  border-bottom:1px solid gray;
  top:-190px;
  left:0px;
  height:100px;
  width:260px;
  @include large-only-device{
    left:70px;
  }
  @include med-only-device{
    left:50px;
  }
  @include small-device{
    left:50px;
  }

}

.other .graphBars{
  @include small-device{
    left:60px;
  }
}

.jsBar{
    background-color:$js-backendbar1-bg-color;
}

.htmlBar{
  left:130px;
  background-color:$html-backendbar2-bg-color;

}

.reactBar{
  left:160px;
  height:40px;
  top:60px;
  background-color:$react-backendbar3-bg-color;
}

.jqueryBar{
  left:190px;
  height:40px;
  top:60px;
  background-color:$jquery-backendbar4-bg-color;
}

.sassBar{
  left:220px;
  background-color:pink;
}

.backendBar1,.backendBar2,.backendBar3,.backendBar4,.backendBar5{
  position:absolute;
  top:60px;
  display:inline-block;
  @include h-w(40px,20px); 
  @include large-only-device{
    top:60px;
  }  
}

.backendBar1{
  left:100px;
  background-color:$js-backendbar1-bg-color;
}

.backendBar2{
  left:130px;
  background-color:$html-backendbar2-bg-color;
}

.backendBar3{
  left:160px;
  background-color:$react-backendbar3-bg-color;
}

.backendBar4{
  left:190px;
  background-color:$jquery-backendbar4-bg-color;
}

.backendBar5{
  left:220px;
  background-color:pink;
}

.writingBar{
  @include structure-dimension(absolute,100px,20px,20px,80px);
  background-color:$writingbar-bg-color;
  @include med-and-large-device{
    left:110px;
    top:20px;
  }
  @include small-device{
    top:20px;
  }
}

.problemSolveBar{
  @include structure-dimension(absolute,130px,20px,20px,80px);
  @include med-and-large-device{
    left:140px;
    top:20px;
  }
  @include small-device{
    top:20px;
  }
  background-color:$probsolvebar-bg-color;
}

.PMBar{
  @include structure-dimension(absolute,160px,20px,20px,80px);
  @include med-and-large-device{
    left:170px;
    top:20px;
  }
  @include small-device{
    top:20px;
  }
  background-color:$pmbar-bg-color;
}

.researchBar{
  @include structure-dimension(absolute,190px,20px,20px,80px);
  @include med-and-large-device{
    left:200px;
    top:20px;
  }
  @include small-device{
    top:20px;
  }
  background-color:$researchbar-bg-color;
}

.publicSpeakingBar{
  @include structure-dimension(absolute,220px,20px,20px,80px);
  @include med-and-large-device{
    left:230px;
    top:20px;
  }
  @include small-device{
    top:20px;
  }
  background-color:$publicspeakbar-bg-color;
}
/*
.writingBar,.problemSolveBar,.researchBar,{
    @include med-and-large-device{
      top:-10px;
    }
}

.PMBar,.publicSpeakingBar{
   @include med-and-large-device{
     top:10px;
   }
}*/

/********************************************************************END BARS***/

.back{
  @include med-and-large-device{
    @include position-left(relative,-5.3em);
  }
}



#frontendSkill{
  @include top-left-position(-290px,65px,absolute);
  @include skills-fonts;
  width:13em;
  color:$frontend-skill-color;
}

#backendSkill{
  @include top-left-position(-290px,65px,absolute);
  @include skills-fonts;
  width:13em;
  color:$backend-skill-color;
}

#otherSkill{
  @include skills-fonts;
  @include top-left-position(-290px,65px,absolute);
  width:13em;
  color:$black;
}

.frontEndGraph, .backEndGraph,.otherGraph{
  height:100px;
  font-size:0.8em;
  left:100px;
  @include position-top-width(relative,350px,260px);
  margin-left:-30px;
  @include large-only-device{
    left:0px;
  }

}

.frontEndGraph{
  @include med-only-device{
    left:40px;
  }
  @include small-device{
    left:40px;
  }
}

.backEndGraph{
  left:500px;
  top:250px;
  @include large-only-device{
    left:350px;
  }
  @include med-only-device{
    left:40px;
    top:550px;
  }
  @include small-device{
    top:550px;
    left:40px;
  }
}

.otherGraph{
  left:320px;
  top:450px;
  @include large-only-device{
    left:175px;
  }
  @include med-only-device{
    top:750px;
    left:45px;
  }
  @include small-device{
    top:750px;
    left:40px;
  }
}



 .bar:hover + div{
  visibility: visible;
}

.other{
  @include med-and-large-device{
    @include position-left(relative,-6.2em);
  }
}


div[class*="Tooltip"]{
  z-index:100;
  visibility:hidden;
}

.jsTooltip{
  @include top-left-position(-55px,-11px,relative);
}

.htmlTooltip{
  @include top-left-position(-140px,19px,relative);
}


.reactTooltip{
  @include top-left-position(-175px,49px,relative);
}

.jqueryTooltip{
  @include top-left-position(-250px,79px,relative);
}

.sassTooltip{
  @include top-left-position(-375px,109px,relative);
}



.nodeTooltip{
  @include top-left-position(-4px,-11px,relative);
}


.phpTooltip{
  @include top-left-position(-78px,20px,relative);
}

.mongoTooltip{
  @include top-left-position(-152px,50px,relative);
}

.rubyTooltip{
  @include top-left-position(-228px,80px,relative);
}

.pythonTooltip{
  @include top-left-position(-303px,110px,relative);
}
.writingTooltip{
  @include top-left-position(-42px,-11px,relative);
  @include med-and-large-device{
    left:-1px;
  }
}

.problemTooltip{
  @include top-left-position(-117px,19px,relative);
  @include med-and-large-device{
    left:29px;
  }
}

.pmTooltip{
  @include top-left-position(-205px,49px,relative);
  @include med-and-large-device{
    left:58px;
  }
}

.researchTooltip{
  @include top-left-position(-280px,79px,relative);
  @include med-and-large-device{
    left:88px;
  }

}

.publicTooltip{
  @include top-left-position(-365px,109px,relative);
  @include med-and-large-device{
    left:120px;
  }

}



.tooltipBody{
  width:240px;
  position:relative;
  background:$black;
  border-radius:3%;
  color: $white;
}

.tooltipBody span{
  font-weight:900;
}

.tooltipBody p{
  font-size:0.8em;
  position:relative;
  top:3px;
  text-align:left;
  vertical-align:middle;
  padding-left:20px;
  padding-bottom:20px;
  padding-top:10px;
  padding-right:20px;
}

.tip {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid black;
  position:relative;
  left:114px;
  top:-12px;
  color:$black;  
}

