//_colors.scss

$black:#000000;
$white:#ffffff;
$grey:rgba(76,74,74,0.8);
$greylight:rgba(76,74,74,0);
$blue:#0000ff;
$purple:purple;
$aqua:aqua;
$skyblue:skyblue;
$nav-bar-bg-color:#9932CC;
$nav-label-bg-color:#BB32FF;
$frontend-bg-color:#FB5E5D;
$backend-bg-color:#4A6FEB;
$frontend-skill-color:#FB5E5D;
$backend-skill-color:#4A6FEB;
$js-backendbar1-bg-color:#FFAD41;
$html-backendbar2-bg-color:#38BAF0;
$react-backendbar3-bg-color:#69D12B;
$jquery-backendbar4-bg-color:#EFE210;
$backendbars-bg-color:pink;
$writingbar-bg-color:#9FCE57;
$probsolvebar-bg-color:#3DC694;
$pmbar-bg-color:#4EC1F2;
$researchbar-bg-color:#8D9EFF;
$publicspeakbar-bg-color:#CD98FE;
$footer-bg-color:#7710C2;
$red:red;
$search-text-focus:#DB4DFF;