//_colors.scss

$black:#000000;
$white:#ffffff;
$grey:rgba(76,76,76,0.9);
$greylight:rgba(76,74,74,0);
$blue:#0000ff;
$searchText:#ccc;
$purple:purple;
$chevrons:#cccccc;
$aqua:aqua;
$skyblue:skyblue;
$nav-bar-bg-color:#9932CC;
$nav-bar-lg-bg-color:#BD2075;
$nav-bar-med-bg-color:#99182C;
$nav-label-bg-color:#BB32FF;
$nav-border-lg-bottom:#D172BB;
$nav-border-med-bottom:#F54D70;
$frontend-bg-color:#FB5E5D;
$backend-bg-color:#4A6FEB;
$frontend-skill-color:#FB5E5D;
$backend-skill-color:#4A6FEB;
$js-backendbar1-bg-color:#FFAD41;
$html-backendbar2-bg-color:#38BAF0;
$react-backendbar3-bg-color:#69D12B;
$jquery-backendbar4-bg-color:#EFE210;
$backendbars-bg-color:pink;
$writingbar-bg-color:#9FCE57;
$probsolvebar-bg-color:#3DC694;
$pmbar-bg-color:#4EC1F2;
$researchbar-bg-color:#8D9EFF;
$publicspeakbar-bg-color:#CD98FE;
$footer-bg-color:#7710C2;
$red:red;
$search-text-focus:#DB4DFF;