//_helpers.scss


body,html {
  font-family:Roboto,sans-serif;
  max-width:100vw;
  padding:0;margin:0;
  overflow-x:hidden;

}



.wrapper{
  position:relative;
}

.content{
  @include small-device{
    @include top-left-position(-1em,-1em,absolute);
      margin:0;
      padding:0;
  }
  margin:0;
  padding:0;
  left:-0.5em;
  position:absolute;
  width:100vw;
}

.content > #topNavBar{
  @include small-device{
    display:none;
  }
}